.Scrim_scrim__x7h9F.Scrim_translucent__24bEe {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.enact-body-fit {
  margin: 0;
  height: 100%;
  overflow: auto;
  position: relative;
}
.enact-fit {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.enact-clip {
  overflow: hidden;
}
.enact-no-touch-action {
  -ms-touch-action: none;
}
.enact-untouchable {
  pointer-events: none;
}
.enact-untouchable > * {
  pointer-events: auto;
}
.enact-unselectable {
  cursor: default;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
}
.enact-selectable {
  cursor: auto;
  -ms-user-select: element;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.debug.aria [aria-label]::after, .debug.aria [aria-valuetext]::after {
  position: absolute;
  font-size: small;
  font-weight: 100;
  background-color: #ffaa0099;
  color: white;
  border: 1px solid #ffaa00;
  border-radius: 0.5em;
  border-top-left-radius: 0;
  bottom: 0;
  padding: 0 1ex;
  transform: translateY(100%);
  line-height: 1.3em;
  z-index: 2;
  max-width: 100%;
  pointer-events: none;
}
.debug.aria [aria-label]::after {
  content: "Aria Label:\0020" attr(aria-label);
}
.debug.aria [aria-valuetext]::after {
  content: "Aria Value:\0020" attr(aria-valuetext);
}
.debug.aria [aria-label][aria-valuetext]::after {
  content: "Aria Label:\0020'" attr(aria-label) "'; Aria Value:\0020'" attr(aria-valuetext) "';";
}
.App_app__2zG6F {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(238, 241, 245, 0.863);
}
.react-datepicker__input-container {
  width: 18.125rem;
}
main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
.App_inputLabel__1Xn_0 {
  font-weight: 500;
  margin: 0.3rem 0;
}
.App_inputDescription__VdVi0 {
  color: #7a7a7a;
  font-size: small;
  margin: 0.3rem 0;
}
.App_pageContainer__3Ic6K {
  height: 100%;
}
.App_formWarning__1j5n- {
  font-size: x-small;
  color: #a20101;
}
.App_cardItemContainer__xrKge {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.App_cardItem__39P2Z {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  position: relative;
  padding: 0.625rem 1.25rem;
  border: 1px solid rgba(231, 234, 238, 0.863);
  border-radius: 0.625rem;
  width: calc(50% - 4rem);
  word-wrap: break-word;
  margin-bottom: 2rem;
}
.App_cardItem__39P2Z:hover {
  box-shadow: 0 0 0.3rem 0.3rem rgba(222, 227, 233, 0.904);
}
.App_cardItem__39P2Z svg:hover {
  color: #1f50f3;
}
.App_cardName__1yU9Q {
  font-size: x-large;
  margin-right: 3.5rem;
}
.App_cardUrl__1E3WA {
  margin-top: 0.5rem;
  font-size: small;
  color: #838383;
}
.App_cardDelete__roaim,
.App_cardEdit__3Nq8O,
.App_cardSetting__2PHnk {
  position: absolute;
  top: 0.8rem;
  right: 0.5rem;
}
.App_cardEdit__3Nq8O {
  right: 2rem;
}
.App_cardSetting__2PHnk {
  right: 3.5rem;
}
.App_cardBottom__2dnWN * {
  margin-right: 0.5rem;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #323232;
  position: relative;
  height: 100%;
  width: 100%;
}
button,
input,
select,
textarea {
  font-size: 1rem;
  color: #323232;
  background-color: transparent;
  border: 1px solid #797979;
  height: 2.5rem;
  display: inline-block;
  padding: 0.625rem 0.9375rem 0.6875rem;
  font-weight: 500;
  line-height: 1.0625rem;
  letter-spacing: 0.02em;
  vertical-align: middle;
  box-shadow: none;
  text-decoration: none;
  border-radius: 0.25rem;
}
button,
select {
  cursor: pointer;
}
.App_numberInput__27o58 {
  width: 1.25rem;
}
textarea {
  width: calc(100% - 2rem);
  min-height: 21.875rem;
  max-height: 18.75rem;
  overflow-y: scroll;
  resize: none;
}
.App_primaryButton__1lXKs {
  color: white;
  background-color: #1f50f3;
  border: none;
}
.App_secondaryButton__3rc8N {
  border: 1px solid #1f50f3;
  color: #1f50f3;
  background-color: white;
}
input:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
table {
  min-width: 80%;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  border: 1px solid rgba(139, 139, 219, 0.3);
  border-spacing: 0;
}
table tr:not(:last-child) {
  border-bottom: 0.125rem solid rgba(139, 139, 219, 0.3);
}
table td {
  padding: 0.625rem 1.25rem;
}
table td:nth-last-child(-n+3) {
  width: 0.9375rem;
}
@-webkit-keyframes App_scaleIn__W0Y2D {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
@keyframes App_scaleIn__W0Y2D {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}
.App_statusDot__3W0pg {
  height: 0.75rem;
  width: 0.75rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.App_statusDot__3W0pg.App_invalid__10hT3 {
  background-color: rgba(223, 43, 43, 0.8);
}
.App_statusDot__3W0pg.App_valid__2S3hC {
  background-color: rgba(35, 214, 116, 0.8);
}
.App_statusDot__3W0pg.App_downloading__3ZKc0 {
  background-color: rgba(214, 151, 35, 0.8);
  -webkit-animation: App_scaleIn__W0Y2D 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
          animation: App_scaleIn__W0Y2D 3s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

.Layout_layout__3Uw3b {
  display: flex;
  margin: 0;
  box-sizing: border-box;
}
.Layout_layout__3Uw3b .Layout_cell__K3SVu {
  flex: 1 0;
  position: relative;
}
.Layout_layout__3Uw3b .Layout_cell__K3SVu.Layout_grow__3L1Bt {
  flex: 1 1 100%;
}
.Layout_layout__3Uw3b .Layout_cell__K3SVu.Layout_shrink__ivrIv {
  flex: 0 0 auto;
}
.Layout_layout__3Uw3b.Layout_horizontal__OspPd {
  flex-direction: row;
}
.Layout_layout__3Uw3b.Layout_horizontal__OspPd > .Layout_cell__K3SVu {
  max-width: var(--cell-size);
}
.Layout_layout__3Uw3b.Layout_horizontal__OspPd > .Layout_cell__K3SVu.Layout_grow__3L1Bt {
  width: 0;
}
.Layout_layout__3Uw3b.Layout_vertical__3Rza- {
  flex-direction: column;
  height: 100%;
}
.Layout_layout__3Uw3b.Layout_vertical__3Rza- > .Layout_cell__K3SVu {
  max-height: var(--cell-size);
}
.Layout_layout__3Uw3b.Layout_vertical__3Rza- > .Layout_cell__K3SVu.Layout_grow__3L1Bt {
  height: 0;
  align-self: normal;
}
.Layout_layout__3Uw3b.Layout_inline__SZRnE {
  display: inline-flex;
}
.Layout_layout__3Uw3b.Layout_wrap__WfEA_ {
  flex-wrap: wrap;
}
.Layout_layout__3Uw3b.Layout_nowrap__1uoSC {
  flex-wrap: nowrap;
}
.Layout_layout__3Uw3b.Layout_wrapReverse__NRUHl {
  flex-wrap: wrap-reverse;
}
.debug.layout.Layout_layout__3Uw3b,
.debug.layout .Layout_layout__3Uw3b {
  outline: 1px dotted teal;
}
.debug.layout.Layout_layout__3Uw3b .Layout_cell__K3SVu,
.debug.layout .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline: 1px dashed red;
}
.debug.layout .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: red;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: orange;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: yellow;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: lime;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: cyan;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: blue;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: violet;
}
.debug.layout .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_layout__3Uw3b .Layout_cell__K3SVu {
  outline-color: lightslategray;
}

.Item_item__3Yfa_ {
  box-sizing: border-box;
  display: block;
  align-items: center;
}
.Item_item__3Yfa_.Item_inline__1OjAh {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}

.Nav_side-nav__223mc {
  padding: 0;
  margin: 0;
  border-right: 0.1875rem solid rgba(128, 128, 128, 0.274);
  color: white;
  overflow: hidden;
  clear: both;
  height: 100%;
  z-index: 1;
  background-color: white;
}
.Nav_side-nav__223mc ul {
  list-style: none;
  padding: 0;
}
.Nav_navItem__39hxF {
  color: gray;
  padding-left: 0.625rem;
  line-height: 3rem;
  font-size: x-large;
  margin-left: 1.5rem;
  cursor: pointer;
}
.Nav_navItem__39hxF:hover {
  color: rgba(0, 0, 0, 0.685);
}
.Nav_navItem__39hxF * {
  display: inline;
}
.Nav_navItem__39hxF svg {
  vertical-align: middle;
  margin-right: 1rem;
}
.Nav_selectedItem__LwqNV {
  color: #323232;
  font-weight: bold;
}

.FloatingLayer_floatingLayer__1jK86 {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.FloatingLayer_floatingLayer__1jK86:first-child {
  height: 100%;
}

.Modal_modalContent__PkkFv {
  min-width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.Modal_form__vqu7G {
  padding: 1rem;
  padding-bottom: 3rem;
}
.Modal_form__vqu7G input {
  width: 100%;
  box-sizing: border-box;
}
.Modal_form__vqu7G .Modal_actionButton__3cWvQ {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}
.Modal_form__vqu7G .Modal_submit__ByMeT {
  position: absolute;
  right: 7rem;
  background-color: #323232;
  color: white;
}
.Modal_modalTitle__2rUki {
  padding: 1rem 1rem 0.5rem 1rem;
  background-color: #323232;
  color: white;
}
.Modal_formFooter__5QpU5 {
  height: 3.125rem;
}

.PageHeader_pageHeader__2oqW7 {
  padding: 2rem;
  margin: 0;
}
.PageHeader_pageHeader__2oqW7 .PageHeader_title__3hgEI {
  font-size: 2.75rem;
}
.PageHeader_pageHeader__2oqW7 button {
  float: right;
}

.Alert_alert__2cBCS {
  width: -webkit-fill-available;
  position: fixed;
  left: 0;
  padding: 1rem;
  font-size: large;
  border-radius: 0.3rem;
  margin: 0.3rem;
  z-index: 1;
}
.Alert_alert__2cBCS svg {
  float: right;
}
.Alert_alert__2cBCS.Alert_error__2B7Sn {
  color: #6e1717;
  border: 0.125rem solid #b82424;
  background-color: rgba(255, 203, 203, 0.95);
}
.Alert_alert__2cBCS.Alert_warning__3Y2gP {
  color: #6e6c17;
  border: 0.125rem solid #b8a924;
  background-color: rgba(255, 243, 203, 0.95);
}
.Alert_alert__2cBCS.Alert_success__oTkpW {
  color: #176e1e;
  border: 0.125rem solid #29b824;
  background-color: rgba(203, 255, 203, 0.95);
}

.Select_singleSelect__2TJIF {
  width: 100%;
  margin-bottom: 0.625rem;
}
.Select_multiSelect__DVmnz {
  width: 100%;
  margin-bottom: 0.625rem;
  height: 3.5rem;
}

.ClusterManager_inputWithButton__2QbES input {
  width: calc(100% - 1.3rem);
}
.ClusterManager_inputWithButton__2QbES svg {
  padding-left: 0.3rem;
  color: #323232;
}
.ClusterManager_hideBtn__yKO8P {
  display: none;
}

.SimulationsTable_selected__KL-3O {
  color: #1f50f3;
}

.Player_simulationPlayer__13kPG {
  padding: 0.625rem 1.875rem;
  margin: 0;
  margin-top: 1.25rem;
  background-color: white;
  transition: 2s ease;
  border-top: 0.1875rem solid rgba(128, 128, 128, 0.274);
  height: 0;
  transition: height linear 1s;
}
.Player_simulationPlayer__13kPG.Player_open__10r4s {
  height: 3rem;
}
.Player_simulationPlayer__13kPG .Player_title__3Fx_V {
  font-size: 2rem;
}
.Player_simulationPlayer__13kPG .Player_status__18TsV {
  margin-left: 1rem;
}
.Player_simulationPlayer__13kPG button {
  float: right;
  margin-right: 0.625rem;
}
.Player_simulationPlayer__13kPG svg {
  height: 1.6rem;
  width: 1.6rem;
  float: right;
  padding: 0.6rem;
  color: #AE1A48;
}
.Player_simulationPlayer__13kPG svg.Player_disabled__1ijBQ {
  opacity: 0.5;
  cursor: not-allowed;
}

input[type=checkbox] + label {
  display: block;
  margin: 0.5rem 0;
  cursor: pointer;
  color: #636363;
  font-size: small;
}
input[type=checkbox] {
  display: none;
}
input[type=checkbox] + label:before {
  content: "\2714";
  border: 1px solid #323232;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 0.9em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: baseline;
  color: transparent;
  transition: 0.2s;
  font-size: medium;
  font-size: initial;
}
input[type=checkbox]:checked + label:before {
  background-color: #323232;
  border-color: #323232;
  color: #fff;
}
input[type=checkbox]:disabled + label:before,
input[type=checkbox]:disabled + label {
  border-color: #aaa;
  cursor: not-allowed;
  opacity: 0.6;
}
input[type=checkbox]:checked:disabled + label:before {
  background-color: #4d4d83;
  border-color: #4d4d83;
}

.SimulationManager_simulationManager__2R6ar {
  height: 100%;
}
.SimulationManager_tabButton__3PYoD {
  border: none;
  color: gray;
}
.SimulationManager_tabButton__3PYoD:focus {
  outline: none;
}
.SimulationManager_tabButton__3PYoD:hover {
  color: rgba(0, 0, 0, 0.685);
}
.SimulationManager_tabButton__3PYoD.SimulationManager_selected__1lgiP {
  color: #323232;
  border-bottom: 0.125rem solid #416cf8;
  border-radius: unset;
}
.SimulationManager_connectionField__TP1Ol {
  display: flex;
  justify-content: space-between;
}
.SimulationManager_formIcons__1HKIg {
  font-size: 2.35rem;
}
.SimulationManager_weatherInput__14tz4 {
  width: 48%;
  display: inline-block;
  padding: 0.3125rem;
}
.SimulationManager_rightFloatContainer__QKTXI {
  font-size: xx-small;
}
.SimulationManager_react-datepicker__input-container__1IAmJ {
  width: 18.125rem;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  margin-left: -0.5rem;
  position: absolute;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  box-sizing: content-box;
  position: absolute;
  border: 0.5rem solid transparent;
  height: 0;
  width: 1px;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  content: "";
  z-index: -1;
  border-width: 0.5rem;
  left: -0.5rem;
  border-bottom-color: #aeaeae;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  top: 0;
  margin-top: -0.5rem;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  border-top: none;
  border-bottom-color: #f0f0f0;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
  top: -1px;
  border-bottom-color: #aeaeae;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  bottom: 0;
  margin-bottom: -0.5rem;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle, .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow, .react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  border-bottom: none;
  border-top-color: #fff;
}

.react-datepicker-popper[data-placement^="top"] .react-datepicker__triangle::before, .react-datepicker__year-read-view--down-arrow::before,
.react-datepicker__month-read-view--down-arrow::before,
.react-datepicker__month-year-read-view--down-arrow::before {
  bottom: -1px;
  border-top-color: #aeaeae;
}

.react-datepicker-wrapper {
  display: inline-block;
  padding: 0;
  border: 0;
}

.react-datepicker {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
}

.react-datepicker--time-only .react-datepicker__triangle {
  left: 2.1875rem;
}

.react-datepicker--time-only .react-datepicker__time-container {
  border-left: 0;
}

.react-datepicker--time-only .react-datepicker__time {
  border-radius: 0.3rem;
}

.react-datepicker--time-only .react-datepicker__time-box {
  border-radius: 0.3rem;
}

.react-datepicker__triangle {
  position: absolute;
  left: 3.125rem;
}

.react-datepicker-popper {
  z-index: 1;
}

.react-datepicker-popper[data-placement^="bottom"] {
  margin-top: 0.625rem;
}

.react-datepicker-popper[data-placement="bottom-end"] .react-datepicker__triangle, .react-datepicker-popper[data-placement="top-end"] .react-datepicker__triangle {
  left: auto;
  right: 3.125rem;
}

.react-datepicker-popper[data-placement^="top"] {
  margin-bottom: 0.625rem;
}

.react-datepicker-popper[data-placement^="right"] {
  margin-left: 0.5rem;
}

.react-datepicker-popper[data-placement^="right"] .react-datepicker__triangle {
  left: auto;
  right: 2.625rem;
}

.react-datepicker-popper[data-placement^="left"] {
  margin-right: 0.5rem;
}

.react-datepicker-popper[data-placement^="left"] .react-datepicker__triangle {
  left: 2.625rem;
  right: auto;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 0.5rem;
  position: relative;
}

.react-datepicker__header--time {
  padding-bottom: 0.5rem;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select,
.react-datepicker__month-year-dropdown-container--select,
.react-datepicker__year-dropdown-container--scroll,
.react-datepicker__month-dropdown-container--scroll,
.react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 0.125rem;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #000;
  font-weight: bold;
  font-size: 0.944rem;
}

.react-datepicker-time__header {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.react-datepicker__navigation {
  background: none;
  line-height: 1.7rem;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0.625rem;
  width: 0;
  padding: 0;
  border: 0.45rem solid transparent;
  z-index: 1;
  height: 0.625rem;
  width: 0.625rem;
  text-indent: -999em;
  overflow: hidden;
}

.react-datepicker__navigation--previous {
  left: 0.625rem;
  border-right-color: #ccc;
}

.react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.react-datepicker__navigation--previous--disabled, .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__navigation--next {
  right: 0.625rem;
  border-left-color: #ccc;
}

.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 5rem;
}

.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.react-datepicker__navigation--next--disabled, .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__navigation--years {
  position: relative;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__navigation--years-previous {
  top: 0.25rem;
  border-top-color: #ccc;
}

.react-datepicker__navigation--years-previous:hover {
  border-top-color: #b3b3b3;
}

.react-datepicker__navigation--years-upcoming {
  top: -0.25rem;
  border-bottom-color: #ccc;
}

.react-datepicker__navigation--years-upcoming:hover {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__month-container {
  float: left;
}

.react-datepicker__month {
  margin: 0.4rem;
  text-align: center;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 4rem;
  margin: 0.125rem;
}

.react-datepicker__input-time-container {
  clear: both;
  width: 100%;
  float: left;
  margin: 0.3125rem 0 0.625rem 0.9375rem;
  text-align: left;
}

.react-datepicker__input-time-container .react-datepicker-time__caption {
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container {
  display: inline-block;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input {
  display: inline-block;
  margin-left: 0.625rem;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input {
  width: 5.3125rem;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-inner-spin-button,
.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__input input[type="time"] {
  -moz-appearance: textfield;
}

.react-datepicker__input-time-container .react-datepicker-time__input-container .react-datepicker-time__delimiter {
  margin-left: 0.3125rem;
  display: inline-block;
}

.react-datepicker__time-container {
  float: right;
  border-left: 1px solid #aeaeae;
  width: 5.3125rem;
}

.react-datepicker__time-container--with-today-button {
  display: inline;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  position: absolute;
  right: -4.5rem;
  top: 0;
}

.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: white;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 5.3125rem;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
  list-style: none;
  margin: 0;
  height: calc(12.1875rem + (1.7rem / 2));
  overflow-y: scroll;
  padding-right: 0rem;
  padding-left: 0rem;
  width: 100%;
  box-sizing: content-box;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  height: 1.875rem;
  padding: 0.3125rem 0.625rem;
  white-space: nowrap;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
  background-color: #216ba5;
  color: white;
  font-weight: bold;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected:hover {
  background-color: #216ba5;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
  color: #ccc;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__week-number {
  color: #ccc;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable {
  cursor: pointer;
}

.react-datepicker__week-number.react-datepicker__week-number--clickable:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day-names,
.react-datepicker__week {
  white-space: nowrap;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #000;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__month--selected, .react-datepicker__month--in-selecting-range, .react-datepicker__month--in-range,
.react-datepicker__quarter--selected,
.react-datepicker__quarter--in-selecting-range,
.react-datepicker__quarter--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__month--selected:hover, .react-datepicker__month--in-selecting-range:hover, .react-datepicker__month--in-range:hover,
.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter--in-selecting-range:hover,
.react-datepicker__quarter--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__month--disabled,
.react-datepicker__quarter--disabled {
  color: #ccc;
  pointer-events: none;
}

.react-datepicker__month--disabled:hover,
.react-datepicker__quarter--disabled:hover {
  cursor: default;
  background-color: transparent;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text {
  cursor: pointer;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  border-radius: 0.3rem;
  background-color: #f0f0f0;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today {
  font-weight: bold;
}

.react-datepicker__day--highlighted,
.react-datepicker__month-text--highlighted,
.react-datepicker__quarter-text--highlighted {
  border-radius: 0.3rem;
  background-color: #3dcc4a;
  color: #fff;
}

.react-datepicker__day--highlighted:hover,
.react-datepicker__month-text--highlighted:hover,
.react-datepicker__quarter-text--highlighted:hover {
  background-color: #32be3f;
}

.react-datepicker__day--highlighted-custom-1,
.react-datepicker__month-text--highlighted-custom-1,
.react-datepicker__quarter-text--highlighted-custom-1 {
  color: magenta;
}

.react-datepicker__day--highlighted-custom-2,
.react-datepicker__month-text--highlighted-custom-2,
.react-datepicker__quarter-text--highlighted-custom-2 {
  color: green;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #2a87d0;
  color: #fff;
}

.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover {
  background-color: #1d5d90;
}

.react-datepicker__day--in-selecting-range ,
.react-datepicker__month-text--in-selecting-range ,
.react-datepicker__quarter-text--in-selecting-range {
  background-color: rgba(33, 107, 165, 0.5);
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range , .react-datepicker__month--selecting-range
.react-datepicker__month-text--in-range , .react-datepicker__month--selecting-range
.react-datepicker__quarter-text--in-range {
  background-color: #f0f0f0;
  color: #000;
}

.react-datepicker__day--disabled,
.react-datepicker__month-text--disabled,
.react-datepicker__quarter-text--disabled {
  cursor: default;
  color: #ccc;
}

.react-datepicker__day--disabled:hover,
.react-datepicker__month-text--disabled:hover,
.react-datepicker__quarter-text--disabled:hover {
  background-color: transparent;
}

.react-datepicker__month-text.react-datepicker__month--selected:hover, .react-datepicker__month-text.react-datepicker__month--in-range:hover, .react-datepicker__month-text.react-datepicker__quarter--selected:hover, .react-datepicker__month-text.react-datepicker__quarter--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__month--selected:hover,
.react-datepicker__quarter-text.react-datepicker__month--in-range:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--selected:hover,
.react-datepicker__quarter-text.react-datepicker__quarter--in-range:hover {
  background-color: #216ba5;
}

.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  background-color: #f0f0f0;
}

.react-datepicker__input-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.react-datepicker__year-read-view,
.react-datepicker__month-read-view,
.react-datepicker__month-year-read-view {
  border: 1px solid transparent;
  border-radius: 0.3rem;
}

.react-datepicker__year-read-view:hover,
.react-datepicker__month-read-view:hover,
.react-datepicker__month-year-read-view:hover {
  cursor: pointer;
}

.react-datepicker__year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__year-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-year-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow {
  border-top-color: #ccc;
  float: right;
  margin-left: 1.25rem;
  top: 0.5rem;
  position: relative;
  border-width: 0.45rem;
}

.react-datepicker__year-dropdown,
.react-datepicker__month-dropdown,
.react-datepicker__month-year-dropdown {
  background-color: #f0f0f0;
  position: absolute;
  width: 50%;
  left: 25%;
  top: 1.875rem;
  z-index: 1;
  text-align: center;
  border-radius: 0.3rem;
  border: 1px solid #aeaeae;
}

.react-datepicker__year-dropdown:hover,
.react-datepicker__month-dropdown:hover,
.react-datepicker__month-year-dropdown:hover {
  cursor: pointer;
}

.react-datepicker__year-dropdown--scrollable,
.react-datepicker__month-dropdown--scrollable,
.react-datepicker__month-year-dropdown--scrollable {
  height: 9.375rem;
  overflow-y: scroll;
}

.react-datepicker__year-option,
.react-datepicker__month-option,
.react-datepicker__month-year-option {
  line-height: 1.25rem;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.react-datepicker__year-option:first-of-type,
.react-datepicker__month-option:first-of-type,
.react-datepicker__month-year-option:first-of-type {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.react-datepicker__year-option:last-of-type,
.react-datepicker__month-option:last-of-type,
.react-datepicker__month-year-option:last-of-type {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.react-datepicker__year-option:hover,
.react-datepicker__month-option:hover,
.react-datepicker__month-year-option:hover {
  background-color: #ccc;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-upcoming,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-upcoming {
  border-bottom-color: #b3b3b3;
}

.react-datepicker__year-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-option:hover .react-datepicker__navigation--years-previous,
.react-datepicker__month-year-option:hover .react-datepicker__navigation--years-previous {
  border-top-color: #b3b3b3;
}

.react-datepicker__year-option--selected,
.react-datepicker__month-option--selected,
.react-datepicker__month-year-option--selected {
  position: absolute;
  left: 0.9375rem;
}

.react-datepicker__close-icon {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 0rem 0.375rem 0rem 0rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.react-datepicker__close-icon::after {
  cursor: pointer;
  background-color: #216ba5;
  color: #fff;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  padding: 0.125rem;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "\00d7";
}

.react-datepicker__today-button {
  background: #f0f0f0;
  border-top: 1px solid #aeaeae;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  padding: 0.3125rem 0;
  clear: left;
}

.react-datepicker__portal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 2147483647;
}

.react-datepicker__portal .react-datepicker__day-name,
.react-datepicker__portal .react-datepicker__day,
.react-datepicker__portal .react-datepicker__time-name {
  width: 3rem;
  line-height: 3rem;
}

@media (max-width: 400px), (max-height: 550px) {
  .react-datepicker__portal .react-datepicker__day-name,
  .react-datepicker__portal .react-datepicker__day,
  .react-datepicker__portal .react-datepicker__time-name {
    width: 2rem;
    line-height: 2rem;
  }
}

.react-datepicker__portal .react-datepicker__current-month,
.react-datepicker__portal .react-datepicker-time__header {
  font-size: 1.44rem;
}

.react-datepicker__portal .react-datepicker__navigation {
  border: 0.81rem solid transparent;
}

.react-datepicker__portal .react-datepicker__navigation--previous {
  border-right-color: #ccc;
}

.react-datepicker__portal .react-datepicker__navigation--previous:hover {
  border-right-color: #b3b3b3;
}

.react-datepicker__portal .react-datepicker__navigation--previous--disabled, .react-datepicker__portal .react-datepicker__navigation--previous--disabled:hover {
  border-right-color: #e6e6e6;
  cursor: default;
}

.react-datepicker__portal .react-datepicker__navigation--next {
  border-left-color: #ccc;
}

.react-datepicker__portal .react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3;
}

.react-datepicker__portal .react-datepicker__navigation--next--disabled, .react-datepicker__portal .react-datepicker__navigation--next--disabled:hover {
  border-left-color: #e6e6e6;
  cursor: default;
}



/*# sourceMappingURL=main.css.map*/